body {
    background-color: rgb(204, 191, 191);

    .grillaBody {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
                @media only screen and (max-width:480px) {
            .grillaBody {
                display: grid;
                grid-template-areas:
                    "header"
                    "main"
                    "footer";
            }
        }
    }

    @media only screen and (min-width: 481px) and (max-width:767px) {
        .grillaBody {
            background-color: grey;
        }
    }

    @media only screen and (min-width: 768) {
        .grillaBody {
            background-color: darkslateblue;
        }
    }
}

        header {
            .grillaHeader {
                background-color: white;
                width: 100%;
                height: 30vh;
                grid-area: header;
            }

            .contenedorHeader {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
            }

            Main {
                .grillaMain {
                    grid-area: main;
                }

                div {
                    .fuentecolorantique {
                        color: antiquewhite;
                        font-style: initial;
                        background-color: brown;
                        font-family: "fontDosis";
                    }

                    h1 {
                        .bordeContenedorMain {
                            margin-left: 5rem;
                            margin-right: 5rem;
                        }
                    }

                    div {
                        .bordeContenedor {
                            margin-left: 5rem;
                            margin-right: 5rem;
                            margin-top: 2rem;
                        }

                        p {
                            .infoMariana {
                                font-family: 'fontDosis', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                color: rgb(0, 0, 0);
                                border: solid 2px;
                                border-color: black;
                                padding: 10px;
                                font-size: 18px;
                                display: inline-block;
                            }
                        }

                        a {
                            .infoMarianaSinMarco {
                                font-family: "fontDosis", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                color: rgb(0, 0, 0);
                                padding: 10px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

    footer {
        .grillafooter {
            grid-area: footer;
        }

        .bordeContenedor {
            margin-left: 5rem;
            margin-right: 5rem;
            margin-top: 2rem;
        }

        @font-face {
            font-family: "fontDosis";
            src: url(../multimedia/fonts/Dosis/static/Dosis-Bold.ttf)
        }

        * {
            margin: 6;
            padding: 1;
        }
    }