body {
    background-color: rgb(204, 191, 191);
}

@media only screen and (max-width:480px) {
    .grillaBody {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}

@media only screen and (min-width: 481px) and (max-width:767px) {
    .grillaBody {
        background-color: grey;
    }
}

@media only screen and (min-width: 768) {
    .grillaBody {
        background-color: darkslateblue;
    }
}

@font-face {
    font-family: "fontDosis";
    src: url(../multimedia/fonts/Dosis/static/Dosis-Bold.ttf)
}

* {
    margin: 5;
    padding: 0;
}

.fuentecolorantique {
    color: antiquewhite;
    font-style: initial;
    background-color: brown;
    font-family: "fontDosis";
}

.headerLabZap {
    width: 330px;
    grid-row: 2/3;
}

li {
    list-style: none;
    display: inline;
}

.grillaBody {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.contenedorHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.grillaHeader {
    background-color: white;
    width: 100%;
    height: 30vh;
    grid-area: header;
}

.grillaNav {
    grid-row: 1/2;
}

.grillaMain {
    grid-area: main;
}

.grillafooter {
    grid-area: footer;
}

h1 {
    font-family: "fontDosis";
}

h2 {
    font-family: "fontDosis";
}

.infoMariana {
    font-family: 'fontDosis', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    border: solid 2px;
    border-color: black;
    padding: 10px;
    font-size: 18px;
    display: inline-block;
}

.infoMarianaSinMarco {
    font-family: "fontDosis", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 18px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul li {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.SectionImage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;

}

.galeriaImagenes {
    width: 480px;
    padding-bottom: 5px;
    margin-left: 3px;
    display: flex 5;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.servicios {
    margin: 1rem;
}

.infoMarianaContacto {
    font-family: 'fontDosis', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    border: solid 2px;
    border-color: black;
    padding: 50px;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
}

.bordeContenedor {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
}

.bordeContenedorMain {
    margin-left: 5rem;
    margin-right: 5rem;
}

.contenedorContacto {
    width: 600px;
}